# Configurações do Banco de Dados (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=teste_upload

# Variáveis de ambiente para o Backend
DATABASE_HOST=db
DATABASE_PORT=5432
# Em desenvolvimento local, o APP_URL deve ser localhost
APP_URL=http://localhost:3000

# Variáveis de ambiente para o Frontend (Vite)
# Se estiver na AWS, mude para o IP da instância
VITE_API_URL=http://localhost:3000/files
